{% extends "polls/base.html" %}
{% load widget_tweaks %}

{% block title %}Create Question{% endblock %}

{% block head %}
<script>
    let count_choice = 1;
    function add_fields() {
        var d = document.getElementById("content");
        count_choice += 1;
<!--        d.innerHTML += '<br/><div class="col-lg-4"><div class="form-group"><label for="option' + count_choice + '">Option ' + count_choice + '</label> {% render_field form_choice.choice class="form-control" %} </div></div>'-->
        d.innerHTML += '<input type="text" name="choice' + count_choice + '">input' + count_choice + '</p><input type="radio" name="is_right' + count_choice + '" value="1">Верно?</p>'
    }
</script>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Poll</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter Poll Question</label>
                                {% render_field form.title class="form-control" rows="3" %}
<!--                                {{ form }}-->
<!--                                <input type="text" name="f1">input1</p>-->

                            </div>
                        </div>
                    </div>


                    <input type="button" id="more_fields" onclick="add_fields();" value="Add More" />
                    <div class="row" id="content">
<!--                        <div id="room_fileds">-->
<!--                            <div class="col-lg-4">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="option1">Option 1</label>-->
<!--                                    {% render_field form_choice.choice class="form-control" %}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

